

$primary-white: #fff;


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


/**
|--------------------------------------------------
| NavBar
|--------------------------------------------------
*/

.navbar-trans {
  transition-duration: 1s;
  transition-property: all;
  background-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  .nav-link {
    color: $primary-white !important;
  }
}

/**
|--------------------------------------------------
| Banner "header"
|--------------------------------------------------
*/

.banner{
  padding-top: 220px !important;
}

.img-banner {
  box-shadow: 0 0 20px $primary-white;
  border-radius: 100%;
  border: 2px solid $primary-white;
  width: 30%;
  height: 30%;
  object-fit: contain;
}
.moonTag {
  width: 30%;
  animation: spin 3s linear infinite;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  // background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  20%{
    transform: rotate(4deg);
  }
  40%{
    transform: rotate(2deg);
  }
  60%{
    transform: rotate(-2deg);
  }
  80%{
    transform: rotate(-4deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@media (max-width: 768px) {
  .img-banner{
    width: 60%;
    // height: auto;
  }
  .moonTag{
    width: 50%;
  }
  
}


@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
  }
  50% {
      -webkit-transform: rotate(20deg);
  }
  100% {
      -webkit-transform: rotate(-20deg);
  }
}

@import "~bootstrap/scss/bootstrap";
